@model ProyectoFront.Models.Operacion
@{
    ViewData["Title"] = "Funciones";
}

<div class="container">

    <form asp-action="Calculadora" method="post">


    <label for="datoa" class="form-label">datoa</label>
    <input type="number" id="datoa" class="form-control" aria-describedby="datoaHelpBlock">
    <div id="datoaHelpBlock" class="form-text">
        Ingrese su datoa
    </div>

    <label for="datob" class="form-label">datob</label>
    <input type="number" id="datob" class="form-control" aria-describedby="datobHelpBlock">
    <div id="datobHelpBlock" class="form-text">
        Ingrese su datob
    </div>


        <button type="submit" name="tipooperacion" value="suma" class="btn btn-primary">Sumar</button>
        <button type="button" name="tipooperacion" value="resta" class="btn btn-secondary">Restar</button>
        <button type="button" name="tipooperacion" value="dividir" class="btn btn-success">Dividir</button>
        <button type="button" name="tipooperacion" value="multiplicar" class="btn btn-danger">Multiplicar</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>

        <button type="button" class="btn btn-link">Link</button>

    </form>

</div>


@if (Model != null)
{
    <h3>El resultado es: @Model.tipooperacion</h3>
}