@model ProyectoFront.Models.Producto
<h2>Formulario de Creacion</h2>

<form asp-action="Crear">

@* 
    //public int Id { get; set; }

    //public string Nombre { get; set; }
    //public string Descripcion { get; set; }
    //public decimal Precio { get; set; }
    //public int Cantidad { get; set; } *@
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text"
               class="form-control"
               asp-for="Nombre"
               aria-describedby="helpId"
               placeholder="Ingre su Nombre" />
        <small id="helpId" class="form-text text-muted">Help text Nombre</small>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Descripcion</label>
        <input type="text"
               class="form-control"
               asp-for="Descripcion"
               aria-describedby="helpId"
               placeholder="Ingre su Descripcion" />
        <small id="helpId" class="form-text text-muted">Help text Descripcion</small>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Precio</label>
        <input type="number"
               class="form-control"
               asp-for="Precio"
               aria-describedby="helpId"
               placeholder="Ingre su Precio" />
        <small id="helpId" class="form-text text-muted">Help text Precio</small>
    </div>


    <div class="mb-3">
        <label for="" class="form-label">Cantidad</label>
        <input type="text"
               class="form-control"
               asp-for="Cantidad"
               aria-describedby="helpId"
               placeholder="Ingre su Cantidad" />
        <small id="helpId" class="form-text text-muted">Help text Cantidad</small>
    </div>

    <button type="submit" 
            class="btn btn-primary">
        Guardar
    </button>
    <button type="reset"
            class="btn btn-danger">
        Reset
    </button>

    <a asp-action="Index"
       class="btn btn-warning">
        Volver
    </a>

</form>